
# ------------------------------------------------------------------------------
# Directorios de trabajo
# ------------------------------------------------------------------------------
dir :  
  base : "${base}/src/R/WeatherGenerator" 
# ------------------------------------------------------------------------------

# ------------------------------------------------------------------------------
# Archivo RData a procesar
# ------------------------------------------------------------------------------
input.file : test.RData
# ------------------------------------------------------------------------------

# ------------------------------------------------------------------------------
# Variables a validar
# ------------------------------------------------------------------------------
variables : [ 'prcp', 'tn', 'tx' ]
# ------------------------------------------------------------------------------
 
# ------------------------------------------------------------------------------
# Umbral de precipitación
# ------------------------------------------------------------------------------
umbral.precipitacion: 0.1
# ------------------------------------------------------------------------------

# ------------------------------------------------------------------------------
# Archivo donde se guarda el resporte
# ------------------------------------------------------------------------------
output.file : "ValidationReport.html"
# ------------------------------------------------------------------------------
